/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/
.cmdAddButton {
	box-shadow:none;
	background-color: rgb(240, 240, 240);
	border: 0px solid rgb(140,140, 140);
	border-radius: 50%;
	background-image: none;
}

.cmdAddButton:hover {
	background-color: rgb(230, 230, 230);
}
.cmdAddButton:focus, .cmdAddButton:active, .cmdAddButton:focus:active{
box-shadow: none;
outline: 0;
} 
.cmdAddButton:active {
	background-color: rgb(220, 220, 220);
}
